In [1]:
## STEP 01 -- IMPORTING ALL THE NECCASARY PYTHON LIBRARIES 


import pandas as pd
import numpy as np

In [2]:
## STEP 02 -- IMPORTING THE DATASET(CSV FORMAT)

dataset = pd.read_csv('/Users/jatinchhabra/Desktop/E-COMMERCE ANALYSIS/2. DATASETS/Amazon Sale Report.csv')

/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/3065507035.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('/Users/jatinchhabra/Desktop/E-COMMERCE ANALYSIS/2. DATASETS/Amazon Sale Report.csv')

In [3]:
dataset.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [4]:
## KEEPING ONLY THE NECCASARY COLUMNS 


dataset = dataset[['Date','Status','Fulfilment','Category','Size','Courier Status','Qty','currency', 'Amount','ship-state','ship-city']]

In [5]:
## STEP 03 -- EXTRACTED THE MODIFIED DATASET

dataset.head()

,Date,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city
0,04-30-22,Cancelled,Merchant,Set,S,NaN,0,INR,647.62,MAHARASHTRA,MUMBAI
1,04-30-22,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU
2,04-30-22,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI
3,04-30-22,Cancelled,Merchant,Western Dress,L,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY
4,04-30-22,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI

In [6]:
dataset['Date'] = pd.to_datetime(dataset['Date'])

/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1580598953.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset['Date'] = pd.to_datetime(dataset['Date'])

In [7]:
## EXTRACTING YEAR,MONTH AND DAY OF THE PRODUCT DELEIVERD

dataset['Year'] = dataset['Date'].dt.year
dataset['Month'] = dataset['Date'].dt.month
dataset['day'] = dataset['Date'].dt.day

In [8]:
dataset.head()

,Date,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day
0,2022-04-30,Cancelled,Merchant,Set,S,NaN,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30
1,2022-04-30,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30
2,2022-04-30,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30
3,2022-04-30,Cancelled,Merchant,Western Dress,L,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30
4,2022-04-30,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30

In [9]:
dataset.drop('Date',axis=1,inplace=True)

In [10]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day
0,Cancelled,Merchant,Set,S,NaN,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30
1,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30
3,Cancelled,Merchant,Western Dress,L,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30

In [11]:
## STEP 04 -- CHECKING FOR NULL AND AMBIGOUS/OUTLIERS IN THE DATASET EXTRACTED 

dataset.isnull().sum()

Status               0
Fulfilment           0
Category             0
Size                 0
Courier Status    6872
Qty                  0
currency          7795
Amount            7795
ship-state          33
ship-city           33
Year                 0
Month                0
day                  0
dtype: int64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Status          128975 non-null  object
 1   Fulfilment      128975 non-null  object
 2   Category        128975 non-null  object
 3   Size            128975 non-null  object
 4   Courier Status  122103 non-null  object
 5   Qty             128975 non-null  int64
 6   currency        121180 non-null  object
 7   Amount          121180 non-null  float64
 8   ship-state      128942 non-null  object
 9   ship-city       128942 non-null  object
 10  Year            128975 non-null  int32
 11  Month           128975 non-null  int32
 12  day             128975 non-null  int32
dtypes: float64(1), int32(3), int64(1), object(8)
memory usage: 11.3+ MB

In [13]:
##STEP 05 --  FILLING THE NULL VALUES FROM HERE 

dataset.isnull().sum()

Status               0
Fulfilment           0
Category             0
Size                 0
Courier Status    6872
Qty                  0
currency          7795
Amount            7795
ship-state          33
ship-city           33
Year                 0
Month                0
day                  0
dtype: int64

In [14]:
dataset['Courier Status'].fillna("Shipped",inplace=True)

dataset['currency'].fillna("INR", inplace=True)

dataset['ship-city'].fillna("Unkown",inplace=True)
dataset['ship-state'].fillna("Unkown",inplace=True)

/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1850707937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Courier Status'].fillna("Shipped",inplace=True)
/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1850707937.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['currency'].fillna("INR", inplace=True)
/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1850707937.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['ship-city'].fillna("Unkown",inplace=True)
/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1850707937.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['ship-state'].fillna("Unkown",inplace=True)

In [15]:
dataset.isnull().sum()

Status               0
Fulfilment           0
Category             0
Size                 0
Courier Status       0
Qty                  0
currency             0
Amount            7795
ship-state           0
ship-city            0
Year                 0
Month                0
day                  0
dtype: int64

In [16]:
dataset['Amount'].fillna(dataset['Amount'].mean(),inplace=True)

/var/folders/_d/_n9qkscd2vl6yx0plttxss0c0000gn/T/ipykernel_4497/1350161229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Amount'].fillna(dataset['Amount'].mean(),inplace=True)

In [17]:
dataset.isnull().sum()

Status            0
Fulfilment        0
Category          0
Size              0
Courier Status    0
Qty               0
currency          0
Amount            0
ship-state        0
ship-city         0
Year              0
Month             0
day               0
dtype: int64

In [18]:
## FINAL CLEANED DATASET EXTRACTED -- FREE FROM NULL VALUES AND ANY OUTLIERS 

dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day
0,Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30
1,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30
3,Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30

In [19]:
## STEP 06 -- PERFORMING EDA AND FEATURE ENGINEERING

## 1. Total sales value (SALES = QTY * AMOUNT)

dataset['Sales'] = dataset['Qty'] * dataset['Amount']

In [20]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales
0,Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0
1,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0
3,Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0

In [21]:
pd.to_numeric(dataset['Sales'])

0            0.0
1          406.0
2          329.0
3            0.0
4          574.0
           ...
128970     517.0
128971     999.0
128972     690.0
128973    1199.0
128974     696.0
Name: Sales, Length: 128975, dtype: float64

In [22]:
int(dataset['Sales'].sum())

76142715

In [23]:
dataset['Status'].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [24]:
## 2) Managing the status of delivery using eda 

def map_status(x):
    x = str(x).lower()
    
    if "shipped - delivered" in x or "shipped - picked" in x or "out for delivery" in x or x == "shipped":
        return "Shipped"

    elif "returned" in x or "rejected" in x or "cancelled" in x or "damaged" in x:
        return "Returned/Cancelled"

    elif "pending" in x or "waiting" in x or "shipping" in x:
        return "Pending"
    
    else:
        return "Other"

In [25]:
dataset['Status-Grouped'] = dataset['Status'].apply(map_status)

In [26]:
dataset['Status-Grouped'].value_counts()

Status-Grouped
Shipped               107581
Returned/Cancelled     20297
Pending                  947
Other                    150
Name: count, dtype: int64

In [27]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales,Status-Grouped
0,Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0,Returned/Cancelled
1,Shipped - Delivered to Buyer,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0,Shipped
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0,Shipped
3,Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0,Returned/Cancelled
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0,Shipped

In [28]:
dataset['Status'] = dataset['Status-Grouped']
dataset.drop(columns=['Status-Grouped'], inplace=True)

In [29]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales
0,Returned/Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0
1,Shipped,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0
3,Returned/Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0

In [30]:
dataset['Status'].unique()

array(['Returned/Cancelled', 'Shipped', 'Other', 'Pending'], dtype=object)

In [31]:
## 3) Providng flag values as 0/1 for succesfull/unsuccessfull shipment 

dataset['Sucesss'] = dataset['Status'].apply(lambda x : 1 if "Shipped" in str(x) else 0)

In [32]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales,Sucesss
0,Returned/Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0,0
1,Shipped,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0,1
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0,1
3,Returned/Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0,0
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0,1

In [33]:
dataset['Size'].unique()

array(['S', '3XL', 'XL', 'L', 'XXL', 'XS', '6XL', 'M', '4XL', '5XL',
       'Free'], dtype=object)

In [34]:
## 4)  now lets catogirze the sizes of dress here 

## s/m/l --> regular

## xl/xxl,3xl,4xl,5xl,6xl,freee --> oversized

def fit(x):
    x = str(x).upper()   # convert to uppercase for safety
    
    if "XL" in x:        # 2XL,3XL,4XL also captured
        return "Oversized"
    elif "L" in x:       # L captured
        return "Regular"
    elif "M" in x:
        return "Regular"
    elif "S" in x:
        return "Regular"
    else:
        return "Unknown"
        
dataset["Size_group"] = dataset["Size"].apply(fit)

In [35]:
## dataset['Size_group'] = dataset['Size'].apply(fit)

In [36]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales,Sucesss,Size_group
0,Returned/Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0,0,Regular
1,Shipped,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0,1,Oversized
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0,1,Oversized
3,Returned/Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0,0,Regular
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0,1,Oversized

In [37]:
dataset.isnull().sum()

Status            0
Fulfilment        0
Category          0
Size              0
Courier Status    0
Qty               0
currency          0
Amount            0
ship-state        0
ship-city         0
Year              0
Month             0
day               0
Sales             0
Sucesss           0
Size_group        0
dtype: int64

In [38]:
### 5) now time for some more features that help visualise better 

def price_bucket(x):
    if x < 300: return "Budget"
    elif x < 700: return "Mid Range"
    else: return "Premium"

dataset['Price_Segment'] = dataset['Amount'].apply(price_bucket)

In [39]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales,Sucesss,Size_group,Price_Segment
0,Returned/Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0,0,Regular,Mid Range
1,Shipped,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0,1,Oversized,Mid Range
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0,1,Oversized,Mid Range
3,Returned/Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0,0,Regular,Premium
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0,1,Oversized,Mid Range

In [40]:
## 6) Adding zone-map for better country wise sales 

dataset['ship-state'].unique()

array(['MAHARASHTRA', 'KARNATAKA', 'PUDUCHERRY', 'TAMIL NADU',
       'UTTAR PRADESH', 'CHANDIGARH', 'TELANGANA', 'ANDHRA PRADESH',
       'RAJASTHAN', 'DELHI', 'HARYANA', 'ASSAM', 'JHARKHAND',
       'CHHATTISGARH', 'ODISHA', 'KERALA', 'MADHYA PRADESH',
       'WEST BENGAL', 'NAGALAND', 'Gujarat', 'UTTARAKHAND', 'BIHAR',
       'JAMMU & KASHMIR', 'PUNJAB', 'HIMACHAL PRADESH',
       'ARUNACHAL PRADESH', 'MANIPUR', 'Goa', 'MEGHALAYA', 'GOA',
       'TRIPURA', 'LADAKH', 'DADRA AND NAGAR', 'SIKKIM', 'Delhi',
       'Unkown', 'ANDAMAN & NICOBAR ', 'Punjab', 'Rajshthan', 'Manipur',
       'rajasthan', 'Odisha', 'NL', 'Bihar', 'MIZORAM', 'punjab',
       'New Delhi', 'Rajasthan', 'Punjab/Mohali/Zirakpur', 'Puducherry',
       'delhi', 'RJ', 'Chandigarh', 'orissa', 'LAKSHADWEEP', 'goa', 'PB',
       'APO', 'Arunachal Pradesh', 'AR', 'Pondicherry', 'Sikkim',
       'Arunachal pradesh', 'Nagaland', 'bihar', 'Mizoram', 'rajsthan',
       'Orissa', 'Rajsthan', 'Meghalaya'], dtype=object)

In [41]:
dataset['ship-state'] = dataset['ship-state'].str.upper().str.strip()

In [42]:
dataset['ship-state'] = dataset['ship-state'].str.replace(r'\s+', ' ', regex=True)

In [43]:
zone_map = {
    # NORTH
    'DELHI': 'North', 'NEW DELHI': 'North', 'DELHI ': 'North',
    'PUNJAB': 'North', 'PB': 'North', 'PUNJAB/MOHALI/ZIRAKPUR': 'North',
    'HARYANA': 'North',
    'UTTARAKHAND': 'North',
    'UTTAR PRADESH': 'North',
    'CHANDIGARH': 'North',
    'HIMACHAL PRADESH': 'North',
    'JAMMU & KASHMIR': 'North',
    'LADAKH': 'North',

    # WEST
    'MAHARASHTRA': 'West',
    'GOA': 'West', 'GOA ': 'West', 'goa': 'West',
    'GUJARAT': 'West', 'Gujarat': 'West',
    'DADRA AND NAGAR': 'West',
    'RJ': 'West', 'RAJASTHAN': 'West', 'RAJSTHAN': 'West', 'RAJSHTHAN': 'West','RAJASHTHAN':'West','rajasthan':'West',

    # SOUTH
    'KARNATAKA': 'South',
    'KERALA': 'South',
    'TAMIL NADU': 'South',
    'TELANGANA': 'South',
    'ANDHRA PRADESH': 'South',
    'PUDUCHERRY': 'South', 'PONDICHERRY': 'South',
    'LAKSHADWEEP': 'South',

    # EAST + NORTH EAST (Grouped)
    'ODISHA': 'East', 'orissa':'East', 'ORISSA':'East', 'ODISHA ':'East',
    'WEST BENGAL': 'East',
    'BIHAR': 'East', 'bihar':'East', 'Bihar':'East',
    'JHARKHAND': 'East',
    'CHHATTISGARH': 'East',
    'ASSAM': 'East',
    'SIKKIM': 'East', 'Sikkim':'East',
    'TRIPURA': 'East',
    'MEGHALAYA': 'East', 'Meghalaya':'East',
    'MANIPUR': 'East', 'Manipur':'East',
    'MIZORAM': 'East', 'Mizoram':'East',
    'ARUNACHAL PRADESH': 'East', 'ARUNACHAL PRADESH': 'East', 'ARUNACHAL pradesh':'East',
    'NAGALAND': 'East', 'Nagaland':'East',

    # UNKNOWN / ERROR VALUES
    'UNKOWN': 'Unknown', 'NL':'Unknown', 'APO':'Unknown'
}

In [44]:
dataset['Zone'] = dataset['ship-state'].map(zone_map)

dataset['Zone'] = dataset['Zone'].fillna("Others")

In [45]:
dataset.head()

,Status,Fulfilment,Category,Size,Courier Status,Qty,currency,Amount,ship-state,ship-city,Year,Month,day,Sales,Sucesss,Size_group,Price_Segment,Zone
0,Returned/Cancelled,Merchant,Set,S,Shipped,0,INR,647.62,MAHARASHTRA,MUMBAI,2022,4,30,0.0,0,Regular,Mid Range,West
1,Shipped,Merchant,kurta,3XL,Shipped,1,INR,406.00,KARNATAKA,BENGALURU,2022,4,30,406.0,1,Oversized,Mid Range,South
2,Shipped,Amazon,kurta,XL,Shipped,1,INR,329.00,MAHARASHTRA,NAVI MUMBAI,2022,4,30,329.0,1,Oversized,Mid Range,West
3,Returned/Cancelled,Merchant,Western Dress,L,Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,2022,4,30,0.0,0,Regular,Premium,South
4,Shipped,Amazon,Top,3XL,Shipped,1,INR,574.00,TAMIL NADU,CHENNAI,2022,4,30,574.0,1,Oversized,Mid Range,South

In [46]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Status          128975 non-null  object
 1   Fulfilment      128975 non-null  object
 2   Category        128975 non-null  object
 3   Size            128975 non-null  object
 4   Courier Status  128975 non-null  object
 5   Qty             128975 non-null  int64
 6   currency        128975 non-null  object
 7   Amount          128975 non-null  float64
 8   ship-state      128975 non-null  object
 9   ship-city       128975 non-null  object
 10  Year            128975 non-null  int32
 11  Month           128975 non-null  int32
 12  day             128975 non-null  int32
 13  Sales           128975 non-null  float64
 14  Sucesss         128975 non-null  int64
 15  Size_group      128975 non-null  object
 16  Price_Segment   128975 non-null  object
 17  Zone            128975 non-null  object
dtypes: float64(2), int32(3), int64(2), object(11)
memory usage: 16.2+ MB

In [47]:
## 7) Providing unique order values to items 

dataset.insert(0, "order_id", range(1, len(dataset) + 1))

In [48]:
## Step 07 -- Finally converting our dataset into a csv file for further sql and visualisation.

dataset.to_csv('/Users/jatinchhabra/Desktop/E-COMMERCE ANALYSIS/5. FINAL DATASET/final_ouput.csv')